body {
	margin : 30px;
	border: #76ff03 5px solid;
  border-radius: 10px;
	font-family : 'Pacifico', cursive;
}

h1 {
	font-size: 40px;
	color: #76ff03;
}

.webTitle {
  font-size: 60px;
  text-align : center;
  font-family : 'Pacifico', cursive;
  letter-spacing: -2px;
  background: #76ff03;
  padding-bottom: 10px;
  color : white;
}

.main {
	font-family : 'Pacifico', cursive;
	color : #76ff03;
  padding: 10px;
}

p {
	font-size : 50px;
}
